<!-- Footer -->
<svg class="footer-frame" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 1920 79"><defs><style>.cls-2{fill:#53A877;}</style></defs><title>footer-frame</title><path class="cls-2" d="M0,72.427C143,12.138,255.5,4.577,328.644,7.943c147.721,6.8,183.881,60.242,320.83,53.737,143-6.793,167.826-68.128,293-60.9,109.095,6.3,115.68,54.364,225.251,57.319,113.58,3.064,138.8-47.711,251.189-41.8,104.012,5.474,109.713,50.4,197.369,46.572,89.549-3.91,124.375-52.563,227.622-50.155A338.646,338.646,0,0,1,1920,23.467V79.75H0V72.427Z" transform="translate(0 -0.188)"/></svg>
<div class="footer" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="footer-col first">
                    <h4>Rejoingnez-nous</h4>
                    <p>
                      Nous sommes toujours à la recherche de nouvelles personnes pour nous venir en aide aux détenus auprès desquels nous intervenons.
                    </p>
                    <p>
                      Pour nous rejoindre, contactez nous par le moyen qui vous convient :
                      <br/>
                      <br/>
                      <strong>Tél : </strong>
                      <span>0610077681</span>
                      <br/>
                      <strong>Mail : </strong>
                      <a href="mailto:ontact@fcrir.org" target="_top">contact@fcrir.org</a>
                      <br/>
                      <strong>Courrier : </strong>249 Avenue Jean Jaures, 95100 Argenteuil
                    </p>
                </div>
            </div> <!-- end of col -->
            <div class="col-md-6">
                <div class="footer-col middle">
                    <h4>Suivez-nous</h4>

                    <p>
                      Suivez nous sur notre page Facebook :
                      <span id="social">
                    <a href="https://www.facebook.com/FCRIRAE/" target="_blank">
                      <i class="fab fa-facebook"></i>
                    </a>
                    <!--
                    <a>
                      <i class="fab fa-twitter"></i>
                    </a>
                    <a>
                      <i class="fab fa-instagram"></i>
                    </a>
                    <a>
                      <i class="fab fa-linkedin"></i>
                    </a>
                    -->
                  </span>
                    </p>
                    <!--
                    <h4>Contactez-nous</h4>
                    <form #contactForm="ngForm">
                      <input required type="text" placeholder="Nom et prénom" type="text" class="form-control"/>

                      <input  required type="email" placeholder="Email" type="text" class="form-control"/>

                      <textarea required placeholder="Votre message" class="form-control"></textarea>
                      <button id="send-mail" type="submit" class="btn btn-success">
                        Envoyer
                      </button>

                    </form>
                    <p style="color:red" *ngIf="contactForm.dirty && contactForm.touched && contactForm.invalid">
                        Veuillez remplir tous les champs
                      </p>
                    <p *ngIf="contactForm.valid">
                      Votre message a été envoyé
                    </p>
                    -->
                </div>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of footer -->
<!-- end of footer -->


<!-- Copyright -->
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p class="p-small">fcrir.org 2020</p>
            </div> <!-- end of col -->
        </div> <!-- enf of row -->
    </div> <!-- end of container -->
</div> <!-- end of copyright -->
<!-- end of copyright -->
