
<app-nav [smallDescription]="description"></app-nav>

<svg class="header-frame" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 1920 310"><defs><style>.cls-1{fill:#53A877}</style></defs><title>header-frame</title><path class="cls-1" d="M0,283.054c22.75,12.98,53.1,15.2,70.635,14.808,92.115-2.077,238.3-79.9,354.895-79.938,59.97-.019,106.17,18.059,141.58,34,47.778,21.511,47.778,21.511,90,38.938,28.418,11.731,85.344,26.169,152.992,17.971,68.127-8.255,115.933-34.963,166.492-67.393,37.467-24.032,148.6-112.008,171.753-127.963,27.951-19.26,87.771-81.155,180.71-89.341,72.016-6.343,105.479,12.388,157.434,35.467,69.73,30.976,168.93,92.28,256.514,89.405,100.992-3.315,140.276-41.7,177-64.9V0.24H0V283.054Z"/></svg>
<!-- end of header -->

<div class="cards-1">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
            <p id="values">
              Nos valeurs sont : La Solidarité, L'Espoir, La Réinsertion
            </p>
            </div>
       </div>
   </div>
</div>

<hr/>
<!-- Description -->
<div class="cards-1 history" id="story">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="h2-heading">La genèse de FCRIR</h2>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">
            <div class="col-lg-12">
                <p class="text-left">
                  Née d’une volonté de co-construire une justice et une équité des chances pour les anciens détenus. La Fondation Civile pour la Réinsertion des Repris de Justice et la Lutte contre la Récidive a été créée en 2003 afin de pouvoir aider les détenus sortants des centres de rétention.
                  <br/>
                  Cette fondation existe à présent dans 38 wilayas ( départements ) sur un total de 48 en Algérie et travaille avec plusieurs institutions étatiques et des entreprises partenaires.
                </p>
                <h4 class="fcrir-france">
                  FCRIR en France et en Europe
                </h4>
                <p class="text-left">
                  Poussé par les mêmes ambitions que son fondateur, Mohammed Amin YAHMEDI, membre de FCRIR Algérie s'est engagé pour étendre les actions de FCRIR en France et en Europe.
                </p>
                <p class="text-left">
                  FCRIR est mobilisée et dévouée pour la cause des anciens détenus Algériens des centres pénitentiaires afin d’éviter leur récidive. Elle met l’humain au centre de ses actions pour aider ses bénéficiaires à créer et recréer des liens avec la société et avec leurs proches.
            </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
              <h2 class="h2-heading">Notre engagement</h2>
              <p class="text-left">
                <i class="fas fa-hands-helping"></i> Apporter l’aide humanitaire, matérielle et morale à nos concitoyens algériens nécessiteux parmi les repris de justice et les retenus en Europe.
              </p>
              <p class="text-left">
                <i class="fas fa-users"></i> Face aux conditions sociales précaires qui peuvent mener à la récidive, nous les encouragerons à participer dans des actions civiques et des formations afin de faciliter leur réinsertion dans la société.
              </p>
              <p class="text-left">
                <i class="fas fa-briefcase"></i> Œuvrer pour développer des programmes adaptés pour une réinsertion durable en créant des opportunités d’emploi, en encourageant les anciens détenus à réaliser des projets entrepreneuriaux bénéfiques à la société et à l’individu repris de justice lui-même, et en suivant des formations afin de mettre en place les conditions favorables à son intégration sociale.
              </p>
              <p class="text-left">
                <i class="fas fa-heart"></i> S’inscrire dans une démarche d’aide humanitaire globale et universelle. Elle a pour vocation d’appuyer les défenseurs du droit de l’homme, les programmes de solidarité, les initiatives gouvernementales, et toute autre forme de projet pour l’intérêt général.
              </p>
          </div> <!-- end of col -->
      </div>
    </div> <!-- end of container -->
</div> <!-- end of cards-1 -->
<!-- end of description -->
<hr/>
<div id="actions" class="tabs">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <h2 class="h2-heading">NOTRE ACTION EN FRANCE ET EN EUROPE</h2>
          </div> <!-- end of col -->
      </div> <!-- end of row -->
      <div class="row">
          <div class="col-lg-12">

              <!-- Tabs Links -->
              <ul class="nav nav-tabs" id="argoTabs" role="tablist">
                  <li class="nav-item">
                      <a class="nav-link active" id="nav-tab-1" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="false"><i class="fas fa-briefcase"></i>Réinsertion professionnelle</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" id="nav-tab-2" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="true"><i class="fas fa-hands-helping"></i>Assistance juridique et administrative</a>
                </li>
                  <li class="nav-item">
                      <a class="nav-link" id="nav-tab-3" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false"><i class="fas fa-users"></i>Réinsertion sociale</a>
                  </li>
              </ul>
              <!-- end of tabs links -->

              <!-- Tabs Content -->
              <div class="tab-content" id="argoTabsContent">

                  <!-- Tab -->
                  <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="tab-1">
                      <div class="row">
                          <div class="col-lg-12">
                              <div class="action-container">
                                <p>
                                  FCRIR propose des parcours d'intégration socio-économique pour ses profitables en les accompagnants dans leur recherche d'emploi ou à réaliser des projets professionnels bénéfiques pour la société et pour l’individu lui-même.
                                </p>
                                <p>
                                  Ces programmes d'insertion professionnelle sont basés sur des études réalisés par des spécialistes du marché du travail. Une cartographie des métiers demandés en Europe est mise en place chaque année. Ce qui permettra d'engager le processus à suivre de ces cibles partant de la formation en aboutissant à l'embauche ou au lancement d'un projet professionnel.
                                </p>
                                <p>
                                  A cet effet, FCRIR présente un panel de formation professionnelle à ses cibles adapté au besoin économique de la société. L'équipe FCRIRE œuvre également pour diriger ces personnes dans leur recherche d'emploi en s'appuyant sur ses partenaires économiques, publics qu'ils soient où privés. FCRIR accompagne les personnes à créer des entreprises en proposant des projets intéressants tout en les assistant à réaliser l'étude technico-commerciale, entamer les démarches administratives  jusqu'au démarrage de l'activité professionnelle.
                                </p>
                                <p>
                                  Des sessions d'information et des ateliers spécifiques sont programmés régulièrement au profit des demandeurs d'aide sur différentes thématiques (auto-entreprenariat, opportunités d'emploi, rencontre avec des chefs d'entreprise, etc.). Ce qui permet de sensibiliser cette catégorie de personnes sur les opportunités de réussite professionnelles.
                                </p>
                              </div> <!-- end of image-container -->
                          </div> <!-- end of col -->
                      </div> <!-- end of row -->
                  </div> <!-- end of tab-pane -->
                  <!-- end of tab -->

                   <!-- Tab -->
            <div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="tab-2">
              <div class="row">
                  <div class="col-lg-12">
                      <div class="action-container">
                          <p>
                            FCRIR apporte une assistance juridique aux algériens sortant de prison ou placés sous-main de justice avant même la fin de leur peine. Dans ce but, l'association s'engage à les écouter, les orienter, les informer sur leurs droits et les accompagne dans leurs différentes démarches. En outre, elle tâche de proposer aux détenus des projets favorisant à une demande d'aménagement de peine, ainsi que des projets de vie dans le but de prévenir la récidive.
                          </p>
                          <p>
                            FCRIR intervient également dans les centres de rétention administrative en Europe afin d'apporter un soutien matériel et d'assurer des permanences juridiques au bénéfice des Algériens placés en rétention. L'association assure une veille procédurière permettant de donner des éclaircissements par rapport aux droits des retenus et sur les démarches administratives possibles notamment en faveur des mineurs et des femmes.
                          </p>
                          <p>
                            L'association FCRIR s'engage à défendre les droits des détenus et retenus dans les CP et les CRA conformément à la loi en vigueur. L'association interpellera constamment les organismes compétents pour assurer le respect des conditions d'arrestation.
                          </p>
                          <p>
                            FCRIR accompagne ses allocataires dans les procédures administratives auprès des représentations consulaires d'Algérie en Europe. Ce qui permettra une orientation opérante et encadrée pour trouver des solutions à des circonstances souvent particulières.
                          </p>
                      </div> <!-- end of image-container -->
                  </div> <!-- end of col -->
              </div> <!-- end of row -->
          </div> <!-- end of tab-pane -->
          <!-- end of tab -->

                  <!-- Tab -->
                  <div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby="tab-3">
                      <div class="row">
                          <div class="col-lg-12">
                              <div class="action-container">
                                <p>
                                  FCRIR œuvre pour une réinsertion sociale adaptée permettant un retour graduel et durable à la vie sociale pour les anciens détenus. Cette démarche consiste à engager un processus d'accompagnement continu des repris de justice et leurs familles pendant la période carcérale et après la détention. Le but est de préparer les conditions favorables à une réinsertion sociale réussie.
                                </p>
                                <p>
                                  Sachant que chaque cas est particulier, FCRIR propose une assistance psychologique personnalisée à ses cibles permettant de préparer l'individu à des projets socio-professionnels sur la base de traitement de dossier approfondi. Des séances de parole libre, témoignage, suivi spécifique sont organisés au profit de ces bénéficiaires avec des spécialistes du domaine.
                                </p>
                                <p>
                                  L'association FCRIR alloue des aides d'ordre sociales et humanitaires pour subvenir aux nécessités de l'individu et de sa famille. Ses membres, et à travers les différents moyens de communication, FCRIR se retient à informer de façon régulière les détenus et retenus de leurs droits sociaux et les guide dans les démarches indispensables.
                                </p>
                                <p>
                                  Des projets pour les familles sont mise en place à travers des programmes de soutien scolaire pour les enfants des repris de justice. Ainsi que des actions culturelles, de loisirs et sportifs sont organisées en faveur des personnes proches.
                                </p>
                              </div> <!-- end of image-container -->
                          </div> <!-- end of col -->
                      </div> <!-- end of row -->
                  </div> <!-- end of tab-pane -->
                  <!-- end of tab -->

              </div> <!-- end of tab content -->
              <!-- end of tabs content -->

          </div> <!-- end of col -->
      </div> <!-- end of row -->
  </div> <!-- end of container -->
</div> <!-- end of tabs -->
<!-- end of features -->

<app-footer></app-footer>
